* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/images/lap.jpg) center center/ cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todocontainer {
  border: 5px solid pink;
  padding: 1rem;
  border-radius: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#listcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  flex-direction: column;
  gap: 1rem;
}

.listdiv {
  border: 5px solid pink;
  padding: 1rem;
  border-radius: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#baseInput {
  width: 80%;
  padding: 0.8rem;
  min-height: 60px;
  border: 3px solid pink;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
.input {
  width: 80%;
  padding: 0.8rem;
  min-height: 60px;
  border: 3px solid pink;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

#baseButton {
  width: 15%;
  min-height: 60px;
  padding: 0.8rem;
  color: pink;
  font-size: 20px;
  font-weight: 900;
  background-color: white;
  display: flex;
  justify-content: center;
  border: 3px solid pink;
  align-items: center;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  &&:hover {
    border-color: brown;
    background-color: pink;
    color: brown;
  }
}
.btn {
  width: 10%;
  min-height: 60px;
  padding: 0.8rem;
  color: pink;
  font-size: 20px;
  font-weight: 900;
  background-color: white;
  display: flex;
  justify-content: center;
  border: 3px solid pink;
  align-items: center;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  &&:hover {
    border-color: brown;
    background-color: pink;
    color: brown;
  }
}

.marked {
  text-decoration: line-through;
}
.basecontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#dropdown{
  min-height: 60px;
  padding: 0.2rem;
  color: pink;
  background-color: white;
  display: flex;
  justify-content: center;
  border: 3px solid pink;
  align-items: center;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  &&:hover {
    border-color: brown;
    background-color: pink;
    color: brown;

  }
}